@import "tailwindcss";
@import "../001reference/font.css";
@import "../001reference/effect.css";
@import "../001reference/fontType.css";
@import "../001reference/size.css";
@import "../001reference/color.css";
@import "../002components/data_and_time_Picker.css";

/* ===================== */
/* TIMEPICKER            */
/* ===================== */
@layer components{
    .time-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--time-padding);
        
        height : 168px;

        & .time-bar{
            width: 100%;
            height: 32px;
            display: flex;
            justify-content: center; 
            padding: var(--timeBar-padding);
            border-radius: 4px;
            background-color: #F7F9FB;
        } 

        &::after{
            pointer-events: none;
            content: "";
            width: 100%;
            position: absolute;
            height: 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        }
    }

    .time-controller{
        flex: 1;
        top: 0;
        position: relative;

        & .time-list-box{
            transition: top 0.3s ease;

            top: 0;
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
        }

        & .time-box{
            width: 100%;
            display: flex;
            cursor: pointer;

            & div{
                width: 50%;
                display: flex;
                align-items: center;
                line-height: 175%;
            }

            & .time-box-left{
                justify-content: end;

                color: var(--timeNumber-fg-enable);
                font-size: var(--timeNumber-size-body);
                font-weight: var(--timeNumber-weight-body);

                &.current{
                    color: var(--timeNumber-fg-selected);
                    font-size: var(--timeNumber-size-bodySelected);
                    font-weight: var(--timeNumber-weight-bodySelected);
                }
            }
            & .time-box-right{
                justify-content: start;

                color: var(--timeNumber-fg-enable-title);
                font-size: var(--timeNumber-size-body);
                font-weight: var(--timeNumber-weight-title);
            }
        }
    }
}

/* @utility time-wrapper-* {
    height: ---value();
} */

/* ===================== */
/* TIMEPICKER END        */
/* ===================== */


/* ===================== */
/* TIMEPICKER            */
/* ===================== */

/* ===================== */
/* TIMEPICKER END        */
/* ===================== */