@import "tailwindcss";
@import "../001reference/font.css";
@import "../001reference/fontType.css";
@import "../001reference/size.css";
@import "../001reference/color.css";
@import "../002components/input.css";


/* ===================== */
/* BTN                   */
/* ===================== */
@layer components {
    /* 2. Button */
    .btn { 
        border-radius: var(--btn-radius);
        @apply    
        relative 
        cursor-pointer 
        whitespace-nowrap 
    }
    .btn, .btn-base, .btn-mask-box { 
        @apply 
        flex 
        items-center 
        justify-center 
        
    }
    .btn:focus { @apply outline-0 }
    .btn, .btn-base { @apply  w-fit }
    .btn.disabled { @apply cursor-default }

}

@utility btn-size-* { 
    padding : --value(--btn-padding-*);
    font-size : --value(--btn-font-size-*);
    font-weight : --value(--btn-font-weight-*);
    & .btn-base{
        height: --value(--btn-base-height-*);
        gap: --value(--btn-base-gap-*);
        & .btn-mask-box{
            width: --value(--btn-maskIcon-width-*);
            & .icon-box{
                width: --value(--btn-icon-*);
                height: --value(--btn-icon-*);
            }
        }
    }
}

@utility btn-contained-color-* {
    background-color: --value(--btn-contained-bg-*);
    color: --value(--btn-contained-fg-*);

    &:hover {
        background-color: --value(--btn-contained-bg-*-hover);
        color: --value(--btn-contained-fg-*-hover);
    }

    &:focus {
        background-color: --value(--btn-contained-bg-*-focus);
        color: --value(--btn-contained-fg-*-focus);
    }

    &:active {
        background-color: --value(--btn-contained-bg-*-active);
        color: --value(--btn-contained-fg-*-active);
    }

    &.disabled {
        background-color: --value(--btn-contained-bg-*-disabled);
        color: --value(--btn-contained-fg-*-disabled);
    }
}

@utility btn-outlined-color-* { 
    background-color : --value(--btn-outlined-bg-*);
    color : --value(--btn-outlined-fg-*);
    border : var(--btn-border);
    border-color : --value(--btn-outlined-stroke-*);
    &:hover {
        background-color: --value(--btn-outlined-bg-*-hover);
    }

    &:focus {
        background-color: --value(--btn-outlined-bg-*-focus);
    }

    &:active {
        background-color: --value(--btn-outlined-bg-*-active);
    }

    &.disabled {
        color: --value(--btn-outlined-fg-*-disabled);
        border-color: --value(--btn-outlined-stroke-*-disabled);
        background-color: transparent !important;
    }
}

@utility btn-text-color-* {
    color: --value(--btn-text-fg-*);

    &:hover {
        background-color: --value(--btn-text-bg-*-hover);
    }

    &:focus {
        background-color: --value(--btn-text-bg-*-focus);
    }

    &:active {
        background-color: --value(--btn-text-bg-*-active);
    }

    &.disabled {
        color: --value(--btn-text-fg-*-disabled);
        background-color: transparent !important;
    }
}

/* ===================== */
/* BTN END              */
/* ===================== */


/* ===================== */
/* CHECK BOX             */
/* ===================== */

/* ===================== */
/* CHECK BOX END         */
/* ===================== */


/* ===================== */
/* RADIO GROUP           */
/* ===================== */
@layer components {
    /* 기존 input 스타일 삭제 */
    .inputClass {
        appearance: none;
        border-radius: var(--radio-base-radius);
        cursor: pointer;
        @apply absolute
    }
    /* radio group gap 조정을 위함*/
    .radio-group {
        display: flex;
        flex-direction: column;
    }
    /* radio section gap 조정을 위함*/
    .radio-section {
        display: flex;
    }
    /* radio label 가운데 정렬 */
    .radio-label {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* radio 스타일 지정 */
    .radio-wrapper {
        width: var(--radio-touch-width);
        height: var(--radio-touch-height);
        border-radius: var(--radio-base-radius);
        display: flex;
        align-items: center;
        justify-content: center;
        & .radio-base {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--radio-base-radius);
            border-width: var(--radio-base-border);
            border-style: solid;
            border-color: var(--radio-base-stroke);
            background-color: var(--radio-base-bg);
        }
    }
}

@utility radio-size-* {
    gap: --value(--radioGroup-gap-*);
    .inputClass{
        width: --value(--radio-base-width-*);
        height: --value(--radio-base-height-*);
    }
    .radio-section {
        gap: --value(--radioLabel-gap-*);
    }
    .radio-title {
        font-size: --value(--radioGroup-size-title-*);
        font-weight: --value(--radioGroup-weight-title-*);
    }
    .radio-base {
        &:has(input:checked) {
            border-width: --value(--radio-base-border-true-*);
        }
        width: --value(--radio-base-width-*);
        height: --value(--radio-base-height-*);
    }
    .radio-label {
        font-size: --value(--radioLabel-size-*);
        font-weight: --value(--radioLabel-weight-*);
    }
}

@utility radio-color-* {
    :hover{
        background-color: --value(--color-palette-bg-overlay-*-light);
    }
    .radio-title {
        color: --value(--radioGroup-fg-title);
    }
    .radio-base {
        &:has(input:checked) {
            border-color: --value(--radio-base-fg-*);
        }
    }
    .radio-label {
        color: --value(--radioLabel-fg);
    }
}

/* ===================== */
/* RADIO GROUP END       */
/* ===================== */


/* ===================== */
/* TEXT FIELD            */
/* ===================== */

/* ===================== */
/* TEXT FIELD END        */
/* ===================== */


/* ===================== */
/* SELECT                */
/* ===================== */

/* ===================== */
/* SELECT END            */
/* ===================== */