@import "tailwindcss";
@import "../001reference/font.css";
@import "../001reference/fontType.css";
@import "../001reference/size.css";
@import "../001reference/color.css";
@import "../002components/input.css";


/* ===================== */
/* BTN                   */
/* ===================== */
@layer components {
    /* Icon */
    .icon-box { @apply absolute}

    /* 2. Button */
    .btn { @apply rounded-004 cursor-pointer whitespace-nowrap }
    .btn, .btn-base { @apply flex items-center justify-center w-fit }
    .btn-mask-box { @apply flex items-center justify-center }
    .btn.disabled { @apply cursor-default }

}

@utility btn-size-* {
    padding: --value(--btn-padding-*);
    font-size: --value(--font-size-*);
    font-weight: --value(--font-weight-*);

    & .btn-base {
        height: --value(--btn-base-height-*);
        gap: --value(--btn-base-gap-*);

        & .btn-mask-box {
            width: --value(--btn-mask-box-w-*);
            & .icon-box{
                width: --value(--btn-icon-*);
                height: --value(--btn-icon-*);
            }
        }
    }
}

@utility btn-contained-color-* {
    background-color: --value(--btn-contained-bg-*);
    color: --value(--btn-contained-fg-*);

    &:hover {
        background-color: --value(--btn-contained-bg-*-hover);
        color: --value(--btn-contained-fg-*-hover);
    }

    &:focus {
        background-color: --value(--btn-contained-bg-*-focus);
        color: --value(--btn-contained-fg-*-focus);
    }

    &:active {
        background-color: --value(--btn-contained-bg-*-active);
        color: --value(--btn-contained-fg-*-active);
    }

    &.disabled {
        background-color: --value(--btn-contained-bg-*-disabled);
        color: --value(--btn-contained-fg-*-disabled);
    }
}

@utility btn-outlined-color-* {
    background-color: --value(--btn-outlined-bg-*);
    color: --value(--btn-outlined-fg-*);
    border: 1px solid;
    border-color: --value(--btn-outlined-stroke-*);

    &:hover {
        background-color: --value(--btn-outlined-bg-*-hover);
    }

    &:focus {
        background-color: --value(--btn-outlined-bg-*-focus);
    }

    &:active {
        background-color: --value(--btn-outlined-bg-*-active);
    }

    &.disabled {
        color: --value(--btn-outlined-fg-*-disabled);
        border-color: --value(--btn-outlined-stroke-*-disabled);
        background-color: transparent !important;
    }
}

@utility btn-text-color-* {
    color: --value(--btn-text-fg-*);

    &:hover {
        background-color: --value(--btn-text-bg-*-hover);
    }

    &:focus {
        background-color: --value(--btn-text-bg-*-focus);
    }

    &:active {
        background-color: --value(--btn-text-bg-*-active);
    }

    &.disabled {
        color: --value(--btn-text-fg-*-disabled);
        background-color: transparent !important;
    }
}

/* ===================== */
/* BTN END              */
/* ===================== */


/* ===================== */
/* CHECK BOX             */
/* ===================== */
@layer components {
    .checkbox-label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: var(--checkLabel-label-weight);
        color: var(--checkGroup-fg-label);
        font-family: var(--font-pretendard);
        cursor : pointer;
    }
    .disabled {
        pointer-events: none;
    }
    .checkbox-wrapper { 
        width: var(--checkBox-touch-width); 
        height: var(--checkBox-touch-height);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        & .checkbox {
            border-radius: var(--checkBox-base-radius);
            border : 1px solid;
            border-color : var(--checkBox-stroke-wait);
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        & .check {
            border : 0;
            display: flex;
            align-items: center;
            justify-content: center;
            & .icon-box{
                color: var(--check-fg-wait);
            }
        }
        & .icon-box{
            color: var(--check-fg-wait);
        }
    }
    .inputClass {
        appearance: none;      
        @apply absolute; 
    }
    .checkbox-color-error {
        & .checkbox {
            border : 1px solid;
            border-color : var(--checkBox-stroke-error);
        }
    }
    .check-color-error {
        & .check {
            & .icon-box{
                color: var(--checkBox-bg-wait-error);
            }
        }
    }
}

@utility checkbox-size-* {

    gap: --value(--checkLabel-gap-*);
    font-size:  --value(--checkLabel-label-size-*);

    & .checkbox-base {
        height: --value(--checkBox-base-height-*);
        width: --value(--checkBox-base-width-*);
    }
    
    & .icon-box{
        width: --value(--checkBox-icon-*);
        height: --value(--checkBox-icon-*);
    }
}

@utility checkbox-color-* {

    &:hover .checkbox-wrapper, & .checkbox-wrapper:hover {
        background-color : --value(--checkBox-overlay-*);
    }

    & .checkbox{
        &:has(input:checked){
            background-color : --value(--checkBox-bg-*);
            border : 0;
            & .icon-box{
                color: --value(--checkBox-fg-*-contrast);
            }
        }
        &:has(input:disabled){
            background-color : var(--checkBox-bg-disable);
            border : 0;
            & .icon-box{
                color: var(--checkBox-fg-disable);
            }
        }
    }
}

@utility check-color-* {

    &:hover .checkbox-wrapper, & .checkbox-wrapper:hover {
        background-color : --value(--checkBox-overlay-*);
    }

    & .check{
        &:has(input:checked){
            & .icon-box{
                color: --value(--check-fg-*);
            }
        }
        &:has(input:disabled){
            & .icon-box{
                color: var(--checkBox-fg-disable);
            }
        }
    }
}
/* ===================== */
/* CHECK BOX END         */
/* ===================== */

/* ===================== */
/* CHECK GROUP           */
/* ===================== */

@layer components {
    .checkGroup-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column
    }

    .checkGroup-title {
        display: flex;
        font-weight: var(--checkGroup-title-weight);
        font-family: var(--font-pretendard);
        color: var(--checkGroup-fg-title);
    }

    
    .checkGroup-allChecked {
        font-weight: var(--checkLabel-label-weigh);
    }
    
    .checkGroup-checked {
        display: flex;
        align-items: flex-start; 
        flex-direction: column;    
    }
    
    .checkGroup-helptext {
        font-weight: var(--checkGroup-helper-weight);
        font-family: var(--font-pretendard);
        color: var(--checkGroup-fg-helper);
        font-size: var(--checkGroup-helper-size);
    }
    .error {
        color: var(--checkGroup-fg-error);
    }
}

@utility checkGroup-size-* {
    gap: --value(--checkGroup-gap-*);

    & .checkGroup-allChecked {
        gap : --value(--checkLabel-gap-*);
        font-size:  --value(--checkLabel-label-size-*);
    }

    & .checkGroup-title {
        font-size:  --value(--checkGroup-title-size-*);
    }

    & .checkGroup-checked {
        gap : --value(--checkGroup-group-gap-*);
        padding: --value(--checkGroup-group-*);
    }

    /* & .checkGroup-item {
        gap : --value(---checkLabel-gap-*);
    } */
}

@utility text-color-* {
    /* color : --value(--checkGroup-fg-*); */
    color : red;
}
/* ===================== */
/* CHECK GROUP END       */
/* ===================== */

/* ===================== */
/* RADIO GROUP           */
/* ===================== */

/* ===================== */
/* RADIO GROUP END       */
/* ===================== */


/* ===================== */
/* TEXT FIELD            */
/* ===================== */

@layer components {
    .textfield-base {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: var(--textField-input-height);
        border-radius: var(--textField-input-radius);
        outline: var(--textField-input-border1) solid;
        outline-color: var(--textField-input-stroke-enabled);
        background-color: var(--textField-input-bg);
        padding: var(--textField-input);
        gap: var(--textField-contents-gap);

        &:hover {
            outline: var(--textField-input-border3) solid;
            outline-color: var(--textField-input-stroke-hovered);
        }

        &:focus-within {
            outline: var(--textField-input-border3) solid;
            outline-color: var(--textField-input-stroke-focused);
        }

        & input {
            outline: none;
            color: var(--textField-fg-placeholder);
            font-size: var(--textField-size-placeholder);
        }

        & .input-icon {
            width: var(--textField-input-icon);
            color: var(--textField-fg-placeholder);
        }
    }

    .label-base {
        font-size: var(--textField-size-label);
        font-weight: var(--textField-weight-label);
        display: flex;
        gap: var(--textField-labelTop-gap);
        padding: var(--textField-labelTop);
        color: var(--textField-fg-label);

        .required-marker {
            color: var(--textField-fg-label-required);
        }
    }

    .labelleft-base {
        font-size: var(--textField-size-label);
        font-weight: var(--textField-weight-label);
        width: var(--textField-labelLeft-width);
        display: flex;
        gap: var(--textField-labelLeft-gap);
        padding: var(--textField-labelLeft);
        color: var(--textField-fg-label);

        .required-marker {
            color: var(--textField-fg-label-required);
        }
    }

    .helper-text {
        font-size: var(--textField-size-helperText);
        font-weight: var(--textField-weight-placeholder);
        color: var(--textField-fg-helperText);
        padding: var(--textField-helperText);
    }

    .textfield-wrapper {
        display: flex; 
        width: fit-content;
        height: fit-content;

        & > div {
            width: 100%;
        } 

        &:has(.textfield-base input:disabled) {
            .textfield-base {
                background-color: var(--textField-bg-disabled);
                outline-color: var(--textField-stroke-disabled);
                pointer-events: none;

                & input {
                    color: var(--textField-fg-disabled);
                }

                & .input-icon{
                    color: var(--textField-fg-disabled) ;
                }
            }

            .label-base {
                color: var(--textField-fg-disabled);
            }

            .labelleft-base {
                color: var(--textField-fg-disabled);
            }

            .helper-text {
                color: var(--textField-fg-disabled);
            }
        }

        &.error {
            .textfield-base {
                outline: var(--textField-input-border3) solid;
                outline-color: var(--textField-input-stroke-error);
            }

            .label-base {
                color: var(--textField-fg-error);
            }

            .labelleft-base {
                color: var(--textField-fg-error);
            }

            .helper-text {
                color: var(--textField-fg-error);
            }
        }

        &.hasValue {
            .textfield-base {
                & input {
                    color: var(--textField-fg-hasValue);
                    font-size: var(--textField-size-hasValue);
                }
                & .input-icon {
                    color: var(--textField-input-icon-fg);
                }
            }
        }

        &.dense {
            .textfield-base {
                height: var(--textField-input-height-dense);

                & input {
                    font-size: var(--textField-size-placeholder-dense);
                }

                & .input-icon {
                    width: var(--textField-input-icon-dense);
                }
            }

            &.hasValue {
                .textfield-base input {
                    font-size: var(--textField-size-hasValue-dense);
                }
            }

            .label-base {
                font-size: var(--textField-size-label-dense);
            }

            .labelleft-base {
                font-size: var(--textField-size-label-dense);
            }
            
            .required-marker {
                font-size: var(--textField-size-label-dense);
            }

            .helper-text {
                font-size: var(--textField-size-helperText-dense);
            }

        }
    }
}



/* ===================== */
/* TEXT FIELD END        */
/* ===================== */


/* ===================== */
/* SELECT                */
/* ===================== */

/* ===================== */
/* SELECT END            */
/* ===================== */