@import "tailwindcss";
@import "../001reference/font.css";
@import "../001reference/fontType.css";
@import "../001reference/size.css";
@import "../001reference/color.css";
@import "../002components/input.css";


/* ===================== */
/* BTN                   */
/* ===================== */
@layer components {
    /* Icon */
    .icon-box { @apply absolute}

    /* 2. Button */
    .btn { 
        border-radius: var(--btn-radius);
        @apply cursor-pointer whitespace-nowrap 
    }
    .btn, .btn-base { @apply flex items-center justify-center w-fit }
    .btn-mask-box { @apply flex items-center justify-center }
    .btn.disabled { @apply cursor-default }

}

@utility btn-size-* { 
    padding : --value(--btn-padding-*);
    font-size : --value(--btn-font-size-*);
    font-weight : --value(--btn-font-weight-*);
    & .btn-base{
        height: --value(--btn-base-height-*);
        gap: --value(--btn-base-gap-*);
        & .btn-mask-box{
            width: --value(--btn-maskIcon-width-*);
            & .icon-box{
                width: --value(--btn-icon-*);
                height: --value(--btn-icon-*);
            }
        }
    }
}

@utility btn-contained-color-* { 
    background-color : --value(--btn-contained-bg-*);
    color : --value(--btn-contained-fg-*);
    &:hover {
        background-color : --value(--btn-contained-bg-*-hover);
        color : --value(--btn-contained-fg-*-hover);
    }
    &:focus {
        background-color : --value(--btn-contained-bg-*-focus);
        color : --value(--btn-contained-fg-*-focus);
    }
    &:active {
        background-color : --value(--btn-contained-bg-*-active);
        color : --value(--btn-contained-fg-*-active);
    }
    &.disabled { 
        background-color : --value(--btn-contained-bg-*-disabled);
        color : --value(--btn-contained-fg-*-disabled);
    }
}

@utility btn-outlined-color-* { 
    background-color : --value(--btn-outlined-bg-*);
    color : --value(--btn-outlined-fg-*);
    border : var(--btn-border);
    border-color : --value(--btn-outlined-stroke-*);
    &:hover {
        background-color : --value(--btn-outlined-bg-*-hover);
    }
    &:focus {
        background-color : --value(--btn-outlined-bg-*-focus);
    }
    &:active {
        background-color : --value(--btn-outlined-bg-*-active);
    }
    &.disabled { 
        color : --value(--btn-outlined-fg-*-disabled);
        border-color : --value(--btn-outlined-stroke-*-disabled);
        background-color : transparent !important;
    }
}

@utility btn-text-color-* { 
    color : --value(--btn-text-fg-*);
    &:hover {
        background-color : --value(--btn-text-bg-*-hover);
    }
    &:focus {
        background-color : --value(--btn-text-bg-*-focus);
    }
    &:active {
        background-color : --value(--btn-text-bg-*-active);
    }
    &.disabled { 
        color : --value(--btn-text-fg-*-disabled);
        background-color : transparent !important;
    }
}

/* ===================== */
/* BTN END              */
/* ===================== */


/* ===================== */
/* CHECK BOX             */
/* ===================== */

/* ===================== */
/* CHECK BOX END         */
/* ===================== */


/* ===================== */
/* RADIO GROUP           */
/* ===================== */

/* ===================== */
/* RADIO GROUP END       */
/* ===================== */


/* ===================== */
/* TEXT FIELD            */
/* ===================== */

/* ===================== */
/* TEXT FIELD END        */
/* ===================== */


/* ===================== */
/* SELECT                */
/* ===================== */
    
/* ===================== */
/* SELECT END            */
/* ===================== */

