@import "tailwindcss";
@import "../001reference/font.css";
@import "../001reference/fontType.css";
@import "../001reference/size.css";
@import "../001reference/color.css";
@import "../002components/navigation.css";

@layer components {

    /* 17. MENU */
    /* ==================== */

    .menu {
        width: fit-content;
        height: fit-content;
        padding: var(--menuList);
        border-radius: var(--menu-radius);
        background-color: var(--menu-color-background);
        box-shadow: var(--shadow-064);
        overflow: hidden;
    }

    .menu:not(.menu-disabled)[aria-selected="true"] {
        & .menuItem {
            background-color: var(--menuItem-color-selected);
        }
    }

    .menuItem {
        background-color: var(--color-material-white-alpha-008);
        cursor: pointer;
        &:hover {
            background-color: var(--menuItem-color-hovered);
        }
    }

    .menuItem, .menuItem-base {
        width: fit-content;
        height: fit-content;
    }

    .menuItem-base {
        display: flex;
        align-items: center;
        gap: var(--menuItem-base-gap);
    }

    .menuItem-container {
        width: fit-content;
        height: fit-content;
        padding: var(--menuItem-container);
    }

    .menuItem-icon svg {
        width: var(--menuItem-icon);
        height: var(--menuItem-icon);
    }

    .menuItem-label {
        font-size: var(--menuItem-size);
        font-weight: var(--menuItem-weight);
        font-family: var(--font-pretendard);
        color: var(--menuItem-color);
    }

    .menu-fullWidth {
        &.menu { width: 100%; }
        & .menuItem, .menuItem-container, .menuItem-base { width: 100%; }
    }

    .menu-dense {
        &.menu {
            padding: var(--menuList-dense);
        }
        & .menuItem-container {
            padding: var(--menuItem-container-dense);
        }
        & .menuItem-icon svg {
            width: var(--menuItem-icon-dense);
            height: var(--menuItem-icon-dense);
        }
        & .menuItem-label {
            font-size: var(--menuItem-size-dense);
        }
    }

    .menu-gutter {
        & .menuItem-container {
            padding: var(--menuItem-container-gutter);
        }
    }

    .menu-gutter.menu-dense {
        & .menuItem-container {
            padding: var(--menuItem-container-gutter-dense);
        }
    }

    .menu-disabled {
        & .menuItem-label {
            color: var(--menuItem-color-disabled);
        }
        & .menuItem {
            cursor: default;
            &:hover { background-color: transparent; }
        }
        & .menuItem-icon svg {
            fill: var(--color-palette-bg-disabled-main) !important;
        }
    }

}