@import "tailwindcss";
@import "../001reference/font.css";
@import "../001reference/fontType.css";
@import "../001reference/size.css";
@import "../001reference/color.css";
@import "../002components/navigation.css";

/* ===================== */
/* MENU                  */
/* ===================== */

@layer components {
    .menuList {
        overflow: auto;
        overflow-x: hidden;
        width: fit-content;
        padding: var(--menuList);
        border-radius: var(--menu-radius);
        box-shadow: var(--shadow-064);
        background-color: var(--menu-bg);
    }

    .menuList[aria-selected="true"]:has(.menuItem-disabled) {
        & .menuItem { background-color: transparent; }
    }

    .menuItem {
        width: 100%;
        height: fit-content;
        background-color: var(--menuItem-bg);
        cursor: pointer;
        &:hover { background-color: var(--menuItem-bg-hovered); }
        &.menuItem-selected { background-color: var(--menuItem-bg-selected); }
    }

    .menuItem-container {
        width: 100%;
        height: fit-content;
        padding: var(--menuItem-container);
    }

    .menuItem-base:has(.icon-box) {
        display: flex;
        width: 100%;
        height: fit-content;
        gap: var(--menuItem-base-gap);
        align-items: center;
    }

    .menuItem-mask-box {
        position: relative;
        width: var(--menuItem-icon);
        height: var(--menuItem-icon);
    }

    .menuItem-label {
        display: block;
        max-width: 100%;
        font-size: var(--menuItem-size);
        font-weight: var(--menuItem-weight);
        font-family: var(--font-pretendard);
        color: var(--menuItem-fg); 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .menuList-fullWidth {
        &.menuList { width: 100%; }
    }

    .menuList-dense {
        &.menuList { padding: var(--menuList-dense); }
        & .menuItem-container { padding: var(--menuItem-container-dense); }
        & .menuItem-mask-box {
            width: var(--menuItem-icon-dense);
            height: var(--menuItem-icon-dense);
        }
        & .menuItem-label { font-size: var(--menuItem-size-dense); }
    }

    .menuList-gutter {
        & .menuItem-container { padding: var(--menuItem-container-gutter); }
        &.menuList-dense {
            & .menuItem-container { padding: var(--menuItem-container-gutter-dense); }
        }
    }

    .menuItem-disabled {
        &.menuItem {
            cursor: default;
            &:hover { background-color: transparent; }
        }
        &.menuItem-selected { background-color: transparent; }
        & .menuItem-mask-box svg { fill: var(--menuItem-fg-disabled) !important; }
        & .menuItem-label { color: var(--menuItem-fg-disabled); }
        & .divider { border-color: var(--menuItem-stroke-disabled); }
    }
}
    
/* ===================== */
/* MENU END              */
/* ===================== */


