@import "tailwindcss";
@import "./fontType.css";

@theme {

    /* ===================== */
    /* COLOR THEME */
    /* ===================== */

    --color-material-classicBlue-100 : #b8d9f3;
    --color-material-classicBlue-200 : #8dc2eb;
    --color-material-classicBlue-300 : #62aae2;
    --color-material-classicBlue-400 : #4199dd;
    --color-material-classicBlue-500 : #2288d8;
    --color-material-classicBlue-600 : #1c7bcb;
    --color-material-classicBlue-700 : #146ab9;
    --color-material-classicBlue-800 : #0c5aa7;
    --color-material-classicBlue-900 : #003d88;
    --color-material-classicBlue-950 : #002d6f;
    --color-material-classicBlue-050 : #e6f0fa;
    --color-material-classicBlue-000 : #f4f9fd;
    --color-material-classicBlue-alpha-002 : #003d8805;
    --color-material-classicBlue-alpha-004 : #003d880a;
    --color-material-classicBlue-alpha-008 : #003d8814;
    --color-material-classicBlue-alpha-016 : #003d8829;
    --color-material-classicBlue-alpha-024 : #003d883d;
    --color-material-classicBlue-alpha-032 : #003d8852;
    --color-material-classicBlue-alpha-048 : #003d887a;
    --color-material-classicblueGray-100 : #cdd4db;
    --color-material-classicblueGray-200 : #aeb8c3;
    --color-material-classicblueGray-300 : #8e9baa;
    --color-material-classicblueGray-400 : #778698;
    --color-material-classicblueGray-500 : #5f7286;
    --color-material-classicblueGray-600 : #536476;
    --color-material-classicblueGray-700 : #43505f;
    --color-material-classicblueGray-800 : #343e4a;
    --color-material-classicblueGray-900 : #222a33;
    --color-material-classicblueGray-950 : #191f26;
    --color-material-classicblueGray-050 : #e9edf2;
    --color-material-classicblueGray-000 : #f7f9fb;
    --color-material-classicblueGray-alpha-002 : #43505f05;
    --color-material-classicblueGray-alpha-004 : #43505f0a;
    --color-material-classicblueGray-alpha-008 : #43505f14;
    --color-material-classicblueGray-alpha-016 : #43505f29;
    --color-material-classicblueGray-alpha-024 : #43505f3d;
    --color-material-classicblueGray-alpha-032 : #43505f52;
    --color-material-classicblueGray-alpha-048 : #43505f7a;
    --color-material-black-main : #000000;
    --color-material-black-alpha-002 : #00000005;
    --color-material-black-alpha-004 : #0000000a;
    --color-material-black-alpha-008 : #00000014;
    --color-material-black-alpha-016 : #00000029;
    --color-material-black-alpha-024 : #0000003d;
    --color-material-black-alpha-032 : #00000052;
    --color-material-black-alpha-048 : #0000007a;
    --color-material-white-main : #ffffff;
    --color-material-white-alpha-002 : #ffffff05;
    --color-material-white-alpha-004 : #ffffff0a;
    --color-material-white-alpha-008 : #ffffff14;
    --color-material-white-alpha-016 : #ffffff29;
    --color-material-white-alpha-024 : #ffffff3d;
    --color-material-white-alpha-032 : #ffffff52;
    --color-material-white-alpha-048 : #ffffff7a;
    --color-material-red-100 : #f4c2c2;
    --color-material-red-200 : #e78b8b;
    --color-material-red-300 : #da5353;
    --color-material-red-400 : #cd1e1e;
    --color-material-red-500 : #b61717;
    --color-material-red-600 : #941212;
    --color-material-red-700 : #700d0d;
    --color-material-red-800 : #4d0909;
    --color-material-red-900 : #2e0505;
    --color-material-red-950 : #1a0303;
    --color-material-red-050 : #fde0e0;
    --color-material-red-000 : #fff5f5;
    --color-material-red-alpha-002 : #cd1e1e05;
    --color-material-red-alpha-004 : #cd1e1e0a;
    --color-material-red-alpha-008 : #cd1e1e14;
    --color-material-red-alpha-016 : #cd1e1e29;
    --color-material-red-alpha-024 : #cd1e1e3d;
    --color-material-red-alpha-032 : #cd1e1e52;
    --color-material-red-alpha-048 : #cd1e1e7a;
    --color-material-yellow-100 : #ffdc9a;
    --color-material-yellow-200 : #ffc266;
    --color-material-yellow-300 : #ffa233;
    --color-material-yellow-400 : #d08000;
    --color-material-yellow-500 : #a96300;
    --color-material-yellow-600 : #895000;
    --color-material-yellow-700 : #613900;
    --color-material-yellow-800 : #422600;
    --color-material-yellow-900 : #2d1900;
    --color-material-yellow-950 : #1a0f00;
    --color-material-yellow-050 : #ffeecc;
    --color-material-yellow-000 : #fff9f0;
    --color-material-yellow-alpha-002 : #ffa23305;
    --color-material-yellow-alpha-004 : #ffa2330a;
    --color-material-yellow-alpha-008 : #ffa23314;
    --color-material-yellow-alpha-016 : #ffa23329;
    --color-material-yellow-alpha-024 : #ffa2333d;
    --color-material-yellow-alpha-032 : #ffa23352;
    --color-material-yellow-alpha-048 : #ffa2337a;
    --color-material-green-100 : #c4e3c8;
    --color-material-green-200 : #8ecd99;
    --color-material-green-300 : #57b56b;
    --color-material-green-400 : #279642;
    --color-material-green-500 : #1c752f;
    --color-material-green-600 : #165e26;
    --color-material-green-700 : #12471e;
    --color-material-green-800 : #0d3115;
    --color-material-green-900 : #081e0d;
    --color-material-green-950 : #05140a;
    --color-material-green-050 : #dff4e4;
    --color-material-green-000 : #f3fbf5;
    --color-material-green-alpha-002 : #27964205;
    --color-material-green-alpha-004 : #2796420a;
    --color-material-green-alpha-008 : #27964214;
    --color-material-green-alpha-016 : #27964229;
    --color-material-green-alpha-024 : #2796423d;
    --color-material-green-alpha-032 : #27964252;
    --color-material-green-alpha-048 : #2796427a;
    --color-material-blue-100 : #9fcfff;
    --color-material-blue-200 : #67b3ff;
    --color-material-blue-300 : #3097ff;
    --color-material-blue-400 : #007bff;
    --color-material-blue-500 : #0065d1;
    --color-material-blue-600 : #0051a4;
    --color-material-blue-700 : #003d77;
    --color-material-blue-800 : #00284a;
    --color-material-blue-900 : #001a33;
    --color-material-blue-950 : #000d1a;
    --color-material-blue-050 : #d6eaff;
    --color-material-blue-000 : #eef6ff;
    --color-material-blue-alpha-002 : #007bff05;
    --color-material-blue-alpha-004 : #007bff0a;
    --color-material-blue-alpha-008 : #007bff14;
    --color-material-blue-alpha-016 : #007bff29;
    --color-material-blue-alpha-024 : #007bff3d;
    --color-material-blue-alpha-032 : #007bff52;
    --color-material-blue-alpha-048 : #007bff7a;
    --color-material-non : #00000000;
    --color-palette-bg-brand-dark-default : var(--color-material-classicBlue-900);
    --color-palette-bg-brand-dark-pressed : var(--color-material-classicBlue-950);
    --color-palette-bg-brand-light-default : var(--color-material-classicBlue-050);
    --color-palette-bg-brand-light-pressed : var(--color-material-classicBlue-100);
    --color-palette-bg-neutral-dark-default : var(--color-material-classicblueGray-700);
    --color-palette-bg-neutral-dark-pressed : var(--color-material-classicblueGray-800);
    --color-palette-bg-neutral-light-default : var(--color-material-classicblueGray-050);
    --color-palette-bg-neutral-light-pressed : var(--color-material-classicblueGray-100);
    --color-palette-bg-error-dark-default : var(--color-material-red-500);
    --color-palette-bg-error-dark-pressed : var(--color-material-red-600);
    --color-palette-bg-error-light-default : var(--color-material-red-050);
    --color-palette-bg-error-light-pressed : var(--color-material-red-100);
    --color-palette-bg-warning-dark-default : var(--color-material-yellow-300);
    --color-palette-bg-warning-dark-pressed : var(--color-material-yellow-400);
    --color-palette-bg-warning-light-default : var(--color-material-yellow-050);
    --color-palette-bg-warning-light-pressed : var(--color-material-yellow-100);
    --color-palette-bg-info-dark-default : var(--color-material-blue-400);
    --color-palette-bg-info-dark-pressed : var(--color-material-blue-500);
    --color-palette-bg-info-light-default : var(--color-material-blue-050);
    --color-palette-bg-info-light-pressed : var(--color-material-blue-100);
    --color-palette-bg-success-dark-default : var(--color-material-green-400);
    --color-palette-bg-success-dark-pressed : var(--color-material-green-500);
    --color-palette-bg-success-light-default : var(--color-material-green-050);
    --color-palette-bg-success-light-pressed : var(--color-material-green-100);
    --color-palette-bg-disabled-main : var(--color-material-black-alpha-008);
    --color-palette-bg-layer-basement : var(--color-material-classicblueGray-050);
    --color-palette-bg-layer-default : var(--color-material-white-main);
    --color-palette-bg-layer-fill : var(--color-material-classicblueGray-000);
    --color-palette-bg-layer-floating : var(--color-material-classicBlue-000);
    --color-palette-bg-overlay-brand-dark : var(--color-material-classicBlue-alpha-032);
    --color-palette-bg-overlay-brand-light : var(--color-material-classicBlue-alpha-008);
    --color-palette-bg-overlay-neutral-dark : var(--color-material-classicblueGray-alpha-032);
    --color-palette-bg-overlay-neutral-light : var(--color-material-classicblueGray-alpha-008);
    --color-palette-bg-overlay-white-dark : var(--color-material-white-alpha-032);
    --color-palette-bg-overlay-white-light : var(--color-material-white-alpha-008);
    --color-palette-bg-overlay-black-dark : var(--color-material-black-alpha-032);
    --color-palette-bg-overlay-black-light : var(--color-material-black-alpha-008);
    --color-palette-bg-overlay-error-dark : var(--color-material-red-alpha-032);
    --color-palette-bg-overlay-error-light : var(--color-material-red-alpha-008);
    --color-palette-bg-overlay-warning-dark : var(--color-material-yellow-alpha-032);
    --color-palette-bg-overlay-warning-light : var(--color-material-yellow-alpha-008);
    --color-palette-bg-overlay-info-dark : var(--color-material-blue-alpha-032);
    --color-palette-bg-overlay-info-light : var(--color-material-blue-alpha-008);
    --color-palette-bg-overlay-success-dark : var(--color-material-green-alpha-032);
    --color-palette-bg-overlay-success-light : var(--color-material-green-alpha-008);
    --color-palette-fg-brand-main : var(--color-material-classicBlue-900);
    --color-palette-fg-brand-contrast : var(--color-material-white-main);
    --color-palette-fg-neutral-main : var(--color-material-classicblueGray-700);
    --color-palette-fg-neutral-dark : var(--color-material-classicblueGray-800);
    --color-palette-fg-neutral-light : var(--color-material-classicblueGray-600);
    --color-palette-fg-neutral-black : var(--color-material-classicblueGray-900);
    --color-palette-fg-neutral-soft : var(--color-material-classicblueGray-300);
    --color-palette-fg-neutral-mute : var(--color-material-classicblueGray-100);
    --color-palette-fg-neutral-contrast : var(--color-material-white-main);
    --color-palette-fg-error-main : var(--color-material-red-500);
    --color-palette-fg-error-dark : var(--color-material-red-600);
    --color-palette-fg-error-light : var(--color-material-red-400);
    --color-palette-fg-error-contrast : var(--color-material-white-main);
    --color-palette-fg-warning-main : var(--color-material-yellow-300);
    --color-palette-fg-warning-dark : var(--color-material-yellow-400);
    --color-palette-fg-warning-light : var(--color-material-yellow-200);
    --color-palette-fg-warning-contrast : var(--color-material-white-main);
    --color-palette-fg-info-main : var(--color-material-blue-400);
    --color-palette-fg-info-dark : var(--color-material-blue-500);
    --color-palette-fg-info-light : var(--color-material-blue-300);
    --color-palette-fg-info-contrast : var(--color-material-white-main);
    --color-palette-fg-success-main : var(--color-material-green-500);
    --color-palette-fg-success-dark : var(--color-material-green-600);
    --color-palette-fg-success-light : var(--color-material-green-400);
    --color-palette-fg-success-contrast : var(--color-material-white-main);
    --color-palette-fg-disabled-main : var(--color-material-black-alpha-024);
    --color-palette-fg-placeholder-main : var(--color-material-classicblueGray-500);
    --color-palette-stroke-brand-main : var(--color-material-classicBlue-700);
    --color-palette-stroke-brand-dark : var(--color-material-classicBlue-900);
    --color-palette-stroke-brand-light : var(--color-material-classicBlue-600);
    --color-palette-stroke-neutral-main : var(--color-material-classicblueGray-200);
    --color-palette-stroke-neutral-dark : var(--color-material-classicblueGray-400);
    --color-palette-stroke-neutral-light : var(--color-material-classicblueGray-100);
    --color-palette-stroke-error-main : var(--color-material-red-200);
    --color-palette-stroke-error-dark : var(--color-material-red-400);
    --color-palette-stroke-error-light : var(--color-material-red-100);
    --color-palette-stroke-warning-main : var(--color-material-yellow-100);
    --color-palette-stroke-warning-dark : var(--color-material-yellow-300);
    --color-palette-stroke-warning-light : var(--color-material-yellow-050);
    --color-palette-stroke-info-main : var(--color-material-blue-200);
    --color-palette-stroke-info-dark : var(--color-material-blue-400);
    --color-palette-stroke-info-light : var(--color-material-blue-100);
    --color-palette-stroke-success-main : var(--color-material-green-200);
    --color-palette-stroke-success-dark : var(--color-material-green-400);
    --color-palette-stroke-success-light : var(--color-material-green-100);
    --color-palette-stroke-disabled-main : var(--color-material-black-alpha-008);
    --color-palette-non-non : var(--color-material-non);
}
