@import "tailwindcss";

@theme {

    /* ===================== */
    /* EFFECT THEME          */
    /* ===================== */

    /* elevation */
    --shadow-008 : 0rem 0.5rem 0.5rem #00000014, 0rem 0.25rem 0.25rem #00000012, 0rem 0.125rem 0.125rem #0000000d, 0rem 0.0625rem 0.0625rem #00000008;
    --shadow-016 : 0rem 1rem 1rem #00000014, 0rem 0.5rem 0.5rem #00000012, 0rem 0.25rem 0.25rem #0000000d, 0rem 0.125rem 0.125rem #00000008;
    --shadow-024 : 0rem 1.5rem 1.5rem #00000014, 0rem 0.75rem 0.75rem #00000012, 0rem 0.5rem 0.5rem #0000000d, 0rem 0.25rem 0.25rem #00000008;
    --shadow-064 : 0rem 4rem 4rem #00000014, 0rem 2rem 2rem #00000012, 0rem 1rem 1rem #0000000d, 0rem 0.5rem 0.5rem #00000008;

    /* ===================== */
    /* EFFECT THEME END      */
    /* ===================== */
    
}