@import "tailwindcss";
@import "./fontType.css";

@theme {

    /* ===================== */
    /* SIZE THEME */
    /* ===================== */

    --radius-none : 0rem;
    --radius-004 : 0.25rem;
    --radius-008 : 0.5rem;
    --radius-016 : 1rem;
    --radius-fill : 6249.9375rem;
    /* ===================== */
    /* SPACING 기준 값 */
    /* (8px = 0.5rem) */
    /* ===================== */
    --spacing: 0.5rem;
}
