@import "tailwindcss";
@import "./fontType.css";

@theme {

    /* ===================== */
    /* SIZE THEME */
    /* ===================== */

    --border-001 : 0.0625rem;
    --border-002 : 0.125rem;
    --border-003 : 0.1875rem;
    --border-004 : 0.25rem;
    --border-005 : 0.3125rem;
    --border-006 : 0.375rem;
    --border-007 : 0.4375rem;
    --border-008 : 0.5rem;
    --radius-none : 0rem;
    --radius-004 : 0.25rem;
    --radius-008 : 0.5rem;
    --radius-016 : 1rem;
    --radius-fill : 6249.9375rem;
    /* ===================== */
    /* SPACING 기준 값 */
    /* (8px = 0.5rem) */
    /* ===================== */
    --spacing: 0.5rem;
}
