@import "tailwindcss";
@import "../001reference/color.css";
@import "../001reference/font.css";
@import "../001reference/size.css";
@import "../001reference/fontType.css";

@theme {

    /* 1. BUTTON */
    /* ==================== */

    /* size */
    --btn-icon-sm: var(--icon-14);
    --btn-icon-md: var(--icon-18);
    --btn-icon-lg: var(--icon-20);
    --btn-radius: var(--radius-004);
    --btn-border: var(--border-001);
    --btn-padding-sm: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5) calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    --btn-padding-md: calc(var(--spacing) * 1) calc(var(--spacing) * 1.5) calc(var(--spacing) * 1) calc(var(--spacing) * 1.5);
    --btn-padding-lg: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2.5) calc(var(--spacing) * 1.5) calc(var(--spacing) * 2.5);
    /* base-size */
    --btn-base-height-sm: calc(var(--spacing) * 2.5);
    --btn-base-height-md: calc(var(--spacing) * 2.5);
    --btn-base-height-lg: calc(var(--spacing) * 3);
    --btn-base-gap-sm: calc(var(--spacing) * 1);
    --btn-base-gap-md: calc(var(--spacing) * 1);
    --btn-base-gap-lg: calc(var(--spacing) * 1);
    --btn-mask-box-w-sm: calc(var(--spacing) * 0.5);
    --btn-mask-box-w-md: calc(var(--spacing) * 1.5);
    --btn-mask-box-w-lg: calc(var(--spacing) * 2);
    /* font */
    --btn-text-fg-brand: var(--color-palette-fg-brand-main);
    --btn-text-bg-brand: var(--color-palette-non-non); /* 감지용 */
    --btn-text-bg-brand-hover: var(--color-palette-bg-overlay-brand-light);
    --btn-text-bg-brand-focus: var(--color-palette-bg-overlay-brand-light);
    --btn-text-bg-brand-active: var(--color-palette-bg-overlay-brand-light);
    --btn-text-fg-brand-disabled: var(--color-palette-fg-disabled-main);
    --btn-text-fg-neutral: var(--color-palette-fg-neutral-main);
    --btn-text-bg-neutral: var(--color-palette-non-non); /* 감지용 */
    --btn-text-bg-neutral-hover: var(--color-palette-bg-overlay-neutral-light);
    --btn-text-bg-neutral-focus: var(--color-palette-bg-overlay-neutral-light);
    --btn-text-bg-neutral-active: var(--color-palette-bg-overlay-neutral-light);
    --btn-text-fg-neutral-disabled: var(--color-palette-fg-disabled-main);
    --font-size-sm: var(--text-13);
    --font-size-md: var(--text-16);
    --font-size-lg: var(--text-18);
    --font-weight-sm: var(--font-weight-semiBold);
    --font-weight-md: var(--font-weight-bold);
    --font-weight-lg: var(--font-weight-bold);
    /* contained-colors */
    --btn-contained-bg-brand: var(--color-palette-bg-brand-dark-default);
    --btn-contained-fg-brand: var(--color-palette-fg-brand-contrast);
    --btn-contained-bg-brand-hover: var(--color-palette-bg-brand-dark-pressed);
    --btn-contained-bg-brand-focus: var(--color-palette-bg-brand-dark-pressed);
    --btn-contained-bg-brand-active: var(--color-palette-bg-brand-dark-pressed);
    --btn-contained-fg-brand-disabled: var(--color-palette-fg-disabled-main);
    --btn-contained-bg-brand-disabled: var(--color-palette-bg-disabled-main);
    --btn-contained-bg-neutral: var(--color-palette-bg-neutral-dark-default);
    --btn-contained-fg-neutral: var(--color-palette-fg-neutral-contrast);
    --btn-contained-bg-neutral-hover: var(--color-palette-bg-neutral-dark-pressed);
    --btn-contained-bg-neutral-focus: var(--color-palette-bg-neutral-dark-pressed);
    --btn-contained-bg-neutral-active: var(--color-palette-bg-neutral-dark-pressed);
    --btn-contained-bg-neutral-focus_2: var(--color-palette-bg-neutral-dark-pressed);
    --btn-contained-fg-neutral-disabled: var(--color-palette-fg-disabled-main);
    --btn-contained-bg-neutral-disabled: var(--color-palette-bg-disabled-main);
    /* outlined-colors */
    --btn-outlined-bg-brand: var(--color-palette-bg-overlay-white-light);
    --btn-outlined-fg-brand: var(--color-palette-fg-brand-main);
    --btn-outlined-stroke-brand: var(--color-palette-stroke-brand-main);
    --btn-outlined-bg-brand-hover: var(--color-palette-bg-overlay-brand-light);
    --btn-outlined-bg-brand-focus: var(--color-palette-bg-overlay-brand-light);
    --btn-outlined-bg-brand-active: var(--color-palette-bg-overlay-brand-light);
    --btn-outlined-fg-brand-disabled: var(--color-palette-fg-disabled-main);
    --btn-outlined-storke-brand-disabled: var(--color-palette-stroke-disabled-main);
    --btn-outlined-bg-neutral: var(--color-palette-bg-overlay-white-light);
    --btn-outlined-fg-neutral: var(--color-palette-fg-neutral-main);
    --btn-outlined-stroke-neutral: var(--color-palette-stroke-neutral-main);
    --btn-outlined-bg-neutral-hover: var(--color-palette-bg-overlay-neutral-light);
    --btn-outlined-bg-neutral-focus: var(--color-palette-bg-overlay-neutral-light);
    --btn-outlined-bg-neutral-active: var(--color-palette-bg-overlay-neutral-light);
    --btn-outlined-fg-neutral-disabled: var(--color-palette-fg-disabled-main);
    --btn-outlined-storke-neutral-disabled: var(--color-palette-stroke-disabled-main);

    /* 7. CHECKBOX */
    /* ==================== */

    /* font */
    --checkLabel-font-size-label-lg: var(--text-20);
    --checkLabel-font-size-label-md: var(--text-18);
    --checkLabel-font-weight-label: var(--font-weight-medium);
    --checkGroup-font-color-label: var(--color-palette-fg-neutral-black);
    --checkGroup-font-size-title-lg: var(--text-24);
    --checkGroup-font-size-title-md: var(--text-20);
    --checkGroup-font-weight-title: var(--font-weight-semiBold);
    --checkGroup-font-color-title: var(--color-palette-fg-neutral-black);
    --checkGroup-font-size-helper: var(--text-13);
    --checkGroup-font-weight-helper: var(--font-weight-medium);
    --checkGroup-font-color-helper: var(--color-palette-fg-neutral-light);
    --checkGroup-font-color-error: var(--color-palette-fg-error-main);
    /* size */
    --checkBox-base-border: var(--border-001);
    --checkBox-base-radius: var(--radius-004);
    --checkLabel-gap-lg: calc(var(--spacing) * 1);
    --checkLabel-gap-md: calc(var(--spacing) * 0.5);
    --checkGroup-gap-lg: calc(var(--spacing) * 2.5);
    --checkGroup-gap-md: calc(var(--spacing) * 1.5);
    --checkBox-touch: calc(var(--spacing) * 5.5) calc(var(--spacing) * 5.5) calc(var(--spacing) * 5.5) calc(var(--spacing) * 5.5);
    --checkBox-base-md: calc(var(--spacing) * 2.5) calc(var(--spacing) * 2.5) calc(var(--spacing) * 2.5) calc(var(--spacing) * 2.5);
    --checkBox-base-lg: calc(var(--spacing) * 3) calc(var(--spacing) * 3) calc(var(--spacing) * 3) calc(var(--spacing) * 3);
    /* checkBox-colors */
    --checkBox-overlay-bg-wait: var(--color-palette-bg-overlay-white-light);
    --checkBox-stroke-wait: var(--color-palette-stroke-neutral-light);
    --checkBox-bg-brand: var(--color-palette-bg-brand-dark-default);
    --checkBox-fg-brand-contrast: var(--color-palette-fg-brand-contrast);
    --checkBox-bg-neutral: var(--color-palette-bg-neutral-dark-default);
    --checkBox-fg-neutral-contrast: var(--color-palette-fg-neutral-contrast);
    --checkBox-bg-disable: var(--color-palette-bg-disabled-main);
    --checkBox-stroke-disable: var(--color-palette-stroke-disabled-main);
    --checkBox-fg-disable: var(--color-palette-fg-disabled-main);
    /* check-colors */
    --check-fg-wait: var(--color-palette-fg-neutral-mute);
    --check-fg-brand: var(--color-palette-fg-brand-main);
    --check-fg-neutral: var(--color-palette-fg-neutral-main);
    --check-fg-disable: var(--color-palette-fg-disabled-main);

    /* 12. RADIOGROUP */
    /* ==================== */

    /* font */
    --radioLabel-size-lg: var(--text-20);
    --radioLabel-weight-lg: var(--font-weight-medium);
    --radioLabel-size-md: var(--text-18);
    --radioLabel-weight-md: var(--font-weight-medium);
    --radioLabel-color: var(--color-palette-fg-neutral-black);
    --radioGroup-size-title-lg: var(--text-24);
    --radioGroup-weight-title-lg: var(--font-weight-semiBold);
    --radioGroup-size-title-md: var(--text-20);
    --radioGroup-weight-title-md: var(--font-weight-semiBold);
    --radioGroup-color-title: var(--color-palette-fg-neutral-black);
    --radioGroup-size-helper: var(--text-13);
    --radioGroup-weight-helper: var(--font-weight-medium);
    --radioGroup-color-helper: var(--color-palette-fg-neutral-light);
    --radioGroup-color-error: var(--color-palette-fg-error-main);
    /* size */
    --radio-base-radius: var(--radius-fill);
    --radio-base-border-lg: var(--border-001);
    --radio-base-border-true-lg: var(--border-007);
    --radio-base-border-md: var(--border-001);
    --radio-base-border-true-md: var(--border-006);
    --radioLabel-gap-lg: calc(var(--spacing) * 1);
    --radioLabel-gap-md: calc(var(--spacing) * 0.5);
    --radioGroup-gap-lg: calc(var(--spacing) * 2.5);
    --radioGroup-gap-md: calc(var(--spacing) * 1.5);
    --radio-touch: calc(var(--spacing) * 5.5) calc(var(--spacing) * 5.5) calc(var(--spacing) * 5.5) calc(var(--spacing) * 5.5);
    --radio-base-lg: calc(var(--spacing) * 3) calc(var(--spacing) * 3) calc(var(--spacing) * 3) calc(var(--spacing) * 3);
    --radio-base-md: calc(var(--spacing) * 2.5) calc(var(--spacing) * 2.5) calc(var(--spacing) * 2.5) calc(var(--spacing) * 2.5);
    /* radio-colors */
    --radio-base-stroke: var(--color-palette-stroke-neutral-light);
    --radio-base-bg: var(--color-palette-bg-overlay-white-light);
    --radio-base-fg-brand: var(--color-palette-fg-brand-main);
    --radio-base-fg-neutral: var(--color-palette-fg-neutral-main);
    --radio-fg-disable: var(--color-palette-fg-disabled-main);
    --radio-bg-disable: var(--color-palette-bg-disabled-main);
    --radio-stroke-disable: var(--color-palette-stroke-disabled-main);

    /* 16. TEXTFIELD */
    /* ==================== */

    /* size */
    --textField-labelLeft-gap: calc(var(--spacing) * 0.25);
    --textField-gap: calc(var(--spacing) * 1);
    --textField-labelTop-gap: calc(var(--spacing) * 0.25);
    --textField-input-radius: var(--radius-004);
    --textField-input-border1: var(--border-001);
    --textField-input-border3: var(--border-003);
    --textField-contents-gap: calc(var(--spacing) * 1);
    --textField-input-icon: var(--icon-20);
    --textField-input-icon-dense: var(--icon-18);
    --textField-labelLeft: calc(var(--spacing) * 0.5) calc(var(--spacing) * 0) calc(var(--spacing) * 0.5) calc(var(--spacing) * 0);
    --textField-labelTop: calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5);
    --textField-helperText: calc(var(--spacing) * 0) calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5);
    --textField-input: calc(var(--spacing) * 0) calc(var(--spacing) * 1.5) calc(var(--spacing) * 0) calc(var(--spacing) * 1.5);
    /* colors */
    --textField-input-bg: var(--color-palette-bg-layer-default);
    --textField-input-icon-fg: var(--color-palette-fg-neutral-light);
    --textField-input-stroke-state: var(--color-palette-stroke-neutral-main);
    --textField-input-stroke-hovered: var(--color-palette-stroke-neutral-main);
    --textField-input-stroke-focused: var(--color-palette-stroke-brand-dark);
    --textField-input-stroke-error: var(--color-palette-stroke-error-dark);
    --textField-input-bg-disabled: var(--color-palette-bg-disabled-main);
    --textField-input-stroke-disabled: var(--color-palette-stroke-disabled-main);
    /* font */
    --textField-size-label: var(--text-13);
    --textField-size-label-dense: var(--text-11);
    --textField-size-placeholder: var(--text-16);
    --textField-size-placeholder-dense: var(--text-14);
    --textField-size-hasValue: var(--text-16);
    --textField-size-hasValue-dense: var(--text-14);
    --textField-size-helperText: var(--text-13);
    --textField-size-helperText-dense: var(--text-11);
    --textField-weight-label: var(--font-weight-semiBold);
    --textField-weight-placeholder: var(--font-weight-medium);
    --textField-weight-hasValue: var(--font-weight-medium);
    --textField-color-label: var(--color-palette-fg-neutral-main);
    --textField-color-label-required: var(--color-palette-fg-error-main);
    --textField-color-placeholder: var(--color-palette-fg-neutral-mute);
    --textField-color-hasValue: var(--color-palette-fg-neutral-black);
    --textField-color-helperText: var(--color-palette-fg-neutral-light);
    --textField-color-error: var(--color-palette-fg-error-main);
    --textField-color-disabled: var(--color-palette-fg-disabled-main);
}
