@import "tailwindcss";

@theme {
    

    /* ===================== */
    /* BTN                   */
    /* ===================== */
    
    /* button */
    /* 1. padding */
    --btn-padding-sm : calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    --btn-padding-md : calc(var(--spacing) * 1) calc(var(--spacing) * 1.5);
    --btn-padding-lg : calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
    
    /* 2. font-size */
    --font-size-sm : var(--text-13);
    --font-size-md : var(--text-16);
    --font-size-lg : var(--text-18);

    /* 3. font-weight */
    --font-weight-sm : var(--font-weight-semiBold);
    --font-weight-md : var(--font-weight-bold);
    --font-weight-lg : var(--font-weight-bold);

    /* 4. button-base */
    /* 4-1) height */
    --btn-base-height-sm : calc(var(--spacing) * 2.5);
    --btn-base-height-md : calc(var(--spacing) * 2.5);
    --btn-base-height-lg : calc(var(--spacing) * 3);
    /* 4-2) gap */
    --btn-base-gap-sm : calc(var(--spacing) * 0.5);
    --btn-base-gap-md : calc(var(--spacing) * 1);
    --btn-base-gap-lg : calc(var(--spacing) * 1);
    /* 4-3) mask-box */
    --btn-mask-box-w-sm : calc(var(--spacing) * 1);
    --btn-mask-box-w-md : calc(var(--spacing) * 1.5);
    --btn-mask-box-w-lg : calc(var(--spacing) * 2);

    /* 5. variant & color */
    /* 5-1) contained */
    /* brand */
    --btn-contained-bg-brand : var(--color-bg-brand-dark-default);
    --btn-contained-fg-brand : var(--color-fg-brand-contrast);
    --btn-contained-bg-brand-hover : var(--color-bg-brand-dark-pressed);
    --btn-contained-bg-brand-focus : var(--color-bg-brand-dark-pressed);
    --btn-contained-bg-brand-active : var(--color-bg-brand-dark-pressed);
    --btn-contained-bg-brand-disabled : var(--color-bg-disabled-main);
    --btn-contained-fg-brand-disabled : var(--color-fg-disabled-main);   
    /* neutral */
    --btn-contained-bg-neutral : var(--color-bg-neutral-dark-default);
    --btn-contained-fg-neutral : var(--color-fg-neutral-contrast);
    --btn-contained-bg-neutral-hover : var(--color-bg-neutral-dark-pressed);
    --btn-contained-bg-neutral-focus : var(--color-bg-neutral-dark-pressed);
    --btn-contained-bg-neutral-active : var(--color-bg-neutral-dark-pressed);
    --btn-contained-bg-neutral-disabled : var(--color-bg-disabled-main);
    --btn-contained-fg-neutral-disabled : var(--color-fg-disabled-main);

    /* 5-2) outlined */
    /* brand */
    --btn-outlined-bg-brand : var(--color-bg-overlay-white-light);
    --btn-outlined-fg-brand : var(--color-fg-brand-main);
    --btn-outlined-stroke-brand : var(--color-stroke-brand-main);
    --btn-outlined-bg-brand-hover : var(--color-bg-overlay-brand-light);
    --btn-outlined-bg-brand-focus : var(--color-bg-overlay-brand-light);
    --btn-outlined-bg-brand-active : var(--color-bg-overlay-brand-light);
    --btn-outlined-fg-brand-disabled : var(--color-fg-disabled-main);
    --btn-outlined-stroke-brand-disabled : var(--color-stroke-disabled-main);
    /* neutral */
    --btn-outlined-bg-neutral : var(--color-bg-overlay-white-light);
    --btn-outlined-fg-neutral : var(--color-fg-neutral-main);
    --btn-outlined-stroke-neutral : var(--color-stroke-neutral-main);
    --btn-outlined-bg-neutral-hover : var(--color-bg-overlay-neutral-light);
    --btn-outlined-bg-neutral-focus : var(--color-bg-overlay-neutral-light);
    --btn-outlined-bg-neutral-active : var(--color-bg-overlay-neutral-light);
    --btn-outlined-fg-neutral-disabled : var(--color-fg-disabled-main);
    --btn-outlined-stroke-neutral-disabled : var(--color-stroke-disabled-main);

    /* 5-3) text */
    /* brand */
    --btn-text-fg-brand : var(--color-fg-brand-main);
    --btn-text-bg-brand : ''; /* 감지용 */
    --btn-text-bg-brand-hover : var(--color-bg-overlay-brand-light);
    --btn-text-bg-brand-focus : var(--color-bg-overlay-brand-light);
    --btn-text-bg-brand-active : var(--color-bg-overlay-brand-light);
    --btn-text-fg-brand-disabled : var(--color-fg-disabled-main);
    /* neutral */
    --btn-text-fg-neutral : var(--color-fg-neutral-main);
    --btn-text-bg-neutral : ''; /* 감지용 */
    --btn-text-bg-neutral-hover : var(--color-bg-overlay-neutral-light);
    --btn-text-bg-neutral-focus : var(--color-bg-overlay-neutral-light);
    --btn-text-bg-neutral-active : var(--color-bg-overlay-neutral-light);
    --btn-text-fg-neutral-disabled : var(--color-fg-disabled-main);

    /* ===================== */
    /* BTN END         */
    /* ===================== */


    /* ===================== */
    /* CHECK BOX             */
    /* ===================== */
    
    /* checkBox */

    /* ===================== */
    /* CHECK BOX END         */
    /* ===================== */


    /* ===================== */
    /* RADIO GROUP           */
    /* ===================== */

    /* radioGroup */

    /* ===================== */
    /* RADIO GROUP END       */
    /* ===================== */


    /* ===================== */
    /* TEXT FIELD            */
    /* ===================== */

    /* textField */

    /* ===================== */
    /* TEXT FIELD END        */
    /* ===================== */


    /* ===================== */
    /* SELECT                */
    /* ===================== */

    /* select */
    
    /* ===================== */
    /* SELECT END            */
    /* ===================== */


}