@import "tailwindcss";
@import "../001reference/color.css";
@import "../001reference/font.css";
@import "../001reference/size.css";
@import "../001reference/fontType.css";

@theme {

    /* 48. DATE */
    /* ==================== */

    /* font */
    --calendarElements-size: var(--text-14);
    --calendarElements-weight: var(--font-weight-regular);
    /* size */
    --calendarElements-minSize: calc(var(--spacing) * 36);
    --calendarElements-radius: var(--radius-fill);
    --calendar-body-gap: calc(var(--spacing) * 2);
    --calendar-week-gap: calc(var(--spacing) * 2);
    --calendar-month-gap: calc(var(--spacing) * 2);
    --calendar-year-gap: calc(var(--spacing) * 2);
    --calendar-box-gap: calc(var(--spacing) * 4);
    --calendar-footer-gap: calc(var(--spacing) * 4);
    --calendar-gap: calc(var(--spacing) * 4);
    --calendar-content-gap: calc(var(--spacing) * 4);
    --calendar-base-gap: calc(var(--spacing) * 8);
    --calendar-radius: calc(var(--spacing) * 4);
    --daterangePicker-gap: calc(var(--spacing) * 8);
    --calendar-padding: calc(var(--spacing) * 16) calc(var(--spacing) * 16) calc(var(--spacing) * 16) calc(var(--spacing) * 16);
    /* color */
    --calendarElements-fg: var(--color-palette-fg-neutral-dark);
    --calendarElements-fg-disabled: var(--color-palette-fg-disabled-main);
    --calendarElements-fg-selected: var(--color-palette-fg-brand-contrast);
    --calendarElements-fg-empty: var(--color-palette-non-non); /* 감지용 */
    --calendarElements-bg: var(--color-palette-non-non); /* 감지용 */
    --calendarElements-bg-hovered: var(--color-palette-bg-overlay-brand-light);
    --calendarElements-bg-selected: var(--color-palette-bg-brand-dark-default);
    --calendarElements-bg-pressed: var(--color-palette-bg-neutral-light-pressed);
    --calendarElements-stroke: var(--color-palette-stroke-neutral-main);

    /* 52. TIME */
    /* ==================== */

    /* size */
    --timeNumber-radius: var(--radius-004);
    --time-radius: var(--radius-004);
    --time-gap: calc(var(--spacing) * 1);
    --time-height-small: calc(var(--spacing) * 120);
    --time-height-medium: calc(var(--spacing) * 168);
    --time-scroll-gap: calc(var(--spacing) * 4);
    --timeBar-base-radius: calc(var(--spacing) * 4);
    --timerangePicker-gap: calc(var(--spacing) * 8);
    --time-padding: calc(var(--spacing) * 0) calc(var(--spacing) * 16) calc(var(--spacing) * 0) calc(var(--spacing) * 16);
    --time-scroll-padding: calc(var(--spacing) * 2) calc(var(--spacing) * 0) calc(var(--spacing) * 2) calc(var(--spacing) * 0);
    --timeBar-padding: calc(var(--spacing) * 0) calc(var(--spacing) * 16) calc(var(--spacing) * 0) calc(var(--spacing) * 16);
    --timeBar-base-padding: calc(var(--spacing) * 4) calc(var(--spacing) * 0) calc(var(--spacing) * 4) calc(var(--spacing) * 0);
    /* font */
    --timeNumber-size-title: var(--text-15);
    --timeNumber-size-body: var(--text-17);
    --timeNumber-size-bodySelected: var(--text-17);
    --timeNumber-weight-title: var(--font-weight-medium);
    --timeNumber-weight-body: var(--font-weight-medium);
    --timeNumber-weight-bodySelected: var(--font-weight-bold);
    /* color */
    --timeNumber-bg: var(--color-palette-non-non); /* 감지용 */
    --timeNumber-bg-hovered: var(--color-palette-bg-overlay-black-light);
    --timeNumber-fg-enable: var(--color-palette-fg-neutral-mute);
    --timeNumber-fg-enable-title: var(--color-palette-fg-neutral-dark);
    --timeNumber-fg-selected: var(--color-palette-fg-neutral-soft);
    --time-fg-verticalBlur: linear-gradient(0deg ,var(--color-palette-bg-layer-default) 0%,var(--color-palette-non-non) 50%,var(--color-palette-bg-layer-default) 100%);

    /* 56. DATETIME */
    /* ==================== */

    /* size */
    --datetime-start-gap: calc(var(--spacing) * 16);
    --datetime-end-gap: calc(var(--spacing) * 16);
    --datetime-base-gap: calc(var(--spacing) * 8);
    --datetime-gap: calc(var(--spacing) * 16);
    --datetime-padding: calc(var(--spacing) * 16) calc(var(--spacing) * 16) calc(var(--spacing) * 16) calc(var(--spacing) * 16);
}
