@import "tailwindcss";
@import "../001reference/color.css";
@import "../001reference/font.css";
@import "../001reference/size.css";
@import "../001reference/fontType.css";

@theme {

    /* 17. LIST */
    /* ==================== */

    /* size */
    --listItem-base-gap: calc(var(--spacing) * 12);
    --listItem-base-gap-dense: calc(var(--spacing) * 8);
    --listItem-icon: var(--icon-20);
    --listItem-icon-dense: var(--icon-18);
    --listItem-container: calc(var(--spacing) * 12) calc(var(--spacing) * 20) calc(var(--spacing) * 12) calc(var(--spacing) * 20);
    --listItem-container-gutter: calc(var(--spacing) * 12) calc(var(--spacing) * 0) calc(var(--spacing) * 12) calc(var(--spacing) * 0);
    --listItem-container-dense: calc(var(--spacing) * 8) calc(var(--spacing) * 16) calc(var(--spacing) * 8) calc(var(--spacing) * 16);
    --listItem-container-gutter-dense: calc(var(--spacing) * 8) calc(var(--spacing) * 0) calc(var(--spacing) * 8) calc(var(--spacing) * 0);
    /* font */
    --listItem-size-label: var(--text-16);
    --listItem-size-label-dense: var(--text-14);
    --listItem-size-secondary: var(--text-13);
    --listItem-size-secondary-dense: var(--text-12);
    --listItem-weight-label: var(--font-weight-medium);
    --listItem-weight-secondary: var(--font-weight-regular);
    /* color */
    --listItem-fg-label: var(--color-palette-fg-neutral-main);
    --listItem-fg-secondary: var(--color-palette-fg-neutral-soft);
    --listItem-fg-icon: var(--color-palette-fg-neutral-main);
    --listItem-bg-hovered: var(--color-palette-bg-overlay-neutral-light);
    --listItem-bg-selected: var(--color-palette-bg-overlay-brand-light);
    --listItem-fg-disabled: var(--color-palette-fg-disabled-main);
    --listItem-bg-disabled: var(--color-palette-bg-disabled-main);
    --listItem-storke-disabled: var(--color-palette-stroke-disabled-main);

    /* 21. DIVIDER */
    /* ==================== */

    /* size */
    --divider-border: var(--border-001);
    --divider-horizontal-0: calc(var(--spacing) * 0) calc(var(--spacing) * 0) calc(var(--spacing) * 0) calc(var(--spacing) * 0);
    --divider-horizontal-2: calc(var(--spacing) * 0) calc(var(--spacing) * 2) calc(var(--spacing) * 0) calc(var(--spacing) * 2);
    --divider-horizontal-4: calc(var(--spacing) * 0) calc(var(--spacing) * 4) calc(var(--spacing) * 0) calc(var(--spacing) * 4);
    --divider-horizontal-8: calc(var(--spacing) * 0) calc(var(--spacing) * 8) calc(var(--spacing) * 0) calc(var(--spacing) * 8);
    --divider-horizontal-12: calc(var(--spacing) * 0) calc(var(--spacing) * 12) calc(var(--spacing) * 0) calc(var(--spacing) * 12);
    --divider-horizontal-16: calc(var(--spacing) * 0) calc(var(--spacing) * 16) calc(var(--spacing) * 0) calc(var(--spacing) * 16);
    --divider-horizontal-20: calc(var(--spacing) * 0) calc(var(--spacing) * 20) calc(var(--spacing) * 0) calc(var(--spacing) * 20);
    --divider-horizontal-24: calc(var(--spacing) * 0) calc(var(--spacing) * 24) calc(var(--spacing) * 0) calc(var(--spacing) * 24);
    --divider-horizontal-32: calc(var(--spacing) * 0) calc(var(--spacing) * 32) calc(var(--spacing) * 0) calc(var(--spacing) * 32);
    --divider-horizontal-40: calc(var(--spacing) * 0) calc(var(--spacing) * 40) calc(var(--spacing) * 0) calc(var(--spacing) * 40);
    --divider-vertical-0: calc(var(--spacing) * 0) calc(var(--spacing) * 0) calc(var(--spacing) * 0) calc(var(--spacing) * 0);
    --divider-vertical-2: calc(var(--spacing) * 2) calc(var(--spacing) * 0) calc(var(--spacing) * 2) calc(var(--spacing) * 0);
    --divider-vertical-4: calc(var(--spacing) * 4) calc(var(--spacing) * 0) calc(var(--spacing) * 4) calc(var(--spacing) * 0);
    --divider-vertical-8: calc(var(--spacing) * 8) calc(var(--spacing) * 0) calc(var(--spacing) * 8) calc(var(--spacing) * 0);
    --divider-vertical-12: calc(var(--spacing) * 12) calc(var(--spacing) * 0) calc(var(--spacing) * 12) calc(var(--spacing) * 0);
    --divider-vertical-16: calc(var(--spacing) * 16) calc(var(--spacing) * 0) calc(var(--spacing) * 16) calc(var(--spacing) * 0);
    --divider-vertical-20: calc(var(--spacing) * 20) calc(var(--spacing) * 0) calc(var(--spacing) * 20) calc(var(--spacing) * 0);
    --divider-vertical-24: calc(var(--spacing) * 24) calc(var(--spacing) * 0) calc(var(--spacing) * 24) calc(var(--spacing) * 0);
    --divider-vertical-32: calc(var(--spacing) * 32) calc(var(--spacing) * 0) calc(var(--spacing) * 32) calc(var(--spacing) * 0);
    --divider-vertical-40: calc(var(--spacing) * 40) calc(var(--spacing) * 0) calc(var(--spacing) * 40) calc(var(--spacing) * 0);
    /* color */
    --divider-bg: var(--color-palette-bg-overlay-black-light);
}
